<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Homepage - Sined Travels</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <menu>
            {% for title, url in menu_entries %}
                <li><a class="{% if url == request.path %}active{% endif %}" href="{{url}}"><span>{{title}}</span></a></li>
            {% endfor %}
            <li><a href="/logout"><span>Benvenuto, <b>{{username}}</b><br>Logout</span></a></li>
        </menu>

        <h2>
            <div class="center">Benvenuto! 
                <br>
                Viaggia con Sined Travels
            </div>
        </h2>

        <div class="download"><a href="/static/sample.pdf">Scarica il pdf</a></div>
    
    </body>

    <footer>
        <p>
            Author: Denis Caushaj
            <br>
            <a href="mailto:denis.caushaj@studio.unibo.it">denis.caushaj@studio.unibo.it</a>
        </p>
        Copyright © 2022-2022 <a href="/">sinedtravels.com</a>. Tutti i diritti riservati.
    </footer>
</html>