<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login - Sined Travels</title>
        <link rel="stylesheet" href="/static/signin-login_styles.css">
    </head>

    <body>
        <div class="login">
            <form method="post">
                <label for="username">Username</label>
                <input name="username" id="username" required autofocus>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
                <input type="submit" value="Accedi">
                <br>
            </form>
            <div class="error">{{error}}</div>
            <div><a href="signin">Registrati</a></div>
        </div>
    </body>
</html>