<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login - Sined Travels</title>
    </head>

    <body>
        <div class="login">
            <div class="error">{{error}}</div>
            <form method="post">
                <label for="username">Username</label>
                <input name="username" id="username" required>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
                <input type="submit" value="Log In">
                <br>
                <a href="signin">Registrati</a>
              </form>
        </div>
    </body>

    <footer>
        <p>
            Author: Denis Caushaj
            <br>
            <a href="mailto:denis.caushaj@studio.unibo.it">denis.caushaj@studio.unibo.it</a>
        </p>
        Copyright © 2022-2022 <a href="/">sinedtravels.com</a>. Tutti i diritti riservati.
    </footer>
</html>