<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Registrati - Sined Travels</title>
        <link rel="stylesheet" href="/static/signin-login_styles.css">
    </head>

    <body>
        <div class="signin">
            <form method="post">
                <label for="username">Username</label>
                <input name="username" id="username" required autofocus>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
                <input type="submit" value="Registrati">
                <br>
            </form>
            <div class="error">{{error}}</div>
            <div class="esse">Torna a <a href="login">Login</a></div>
        </div>
    </body>

</html>